table {
  width: 100%;
}
.mat-toolbar {
  width: 100%;
  margin: 0.5rem 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #0f637a;
}

h2 {
  text-align: flex;
  color: rgb(255, 255, 255);
  margin: center;
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;
}

