      <div class="title-button">
        <h2 mat-dialog-title></h2>
        <button mat-icon-button mat-dialog-close>
            <i class="material-icons">close</i>
        </button>
    </div>
    <mat-dialog-content>
        <h1>Prioridade:</h1>
        <p><strong style="color: #41de3c"> N1: </strong> Não impacta nas atividades diárias, <em>são problemas mais simples</em>.</p> 
        <p><strong style="color: #f7ed31"> N2: </strong> <em>Requer atenção</em>, e um diagnóstico mais apurado.</p> 
        <p><strong style="color: #f74b4b"> N3: </strong> Urgente, gera impacto nas atividades diárias da SoulCode.</p>

        <br><br>

        <h1>Classificação:</h1>
        <p><strong> MELHORIA: </strong> Sugestão de melhoria no sistema.</p> 
        <p><strong> BUG: </strong> Intercorrência no funcionamento do sistema.</p>
        <p><strong> DÚVIDA: </strong> Dúvida a cerca do funcionamento do sistema.</p>
        <p><strong> ACESSO: </strong> Requerimento de acesso dentro do sistema.</p>

    </mat-dialog-content>

