<mat-drawer-container autosize>
    <mat-drawer #drawer mode="over" position="end">
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar class="container-flex" color="primary">
            <img src="https://soulcodeacademy.org/assets/images/logo/light-logo.png" alt="" width="200px">
        </mat-toolbar>
    </mat-drawer-content>

</mat-drawer-container>

<div class="main">
    <div class="container mat-elevation-z8">
        <h2>Redefinir Senha</h2>
        <div class="form-container">
            <p>Olá! Informe um email válido para receber um link de redefinição de senha.</p>
            <form [formGroup]="form">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Informe seu email</mat-label>
                    <input color="primary" matInput placeholder="usuario@example.com" type="email" formControlName="email" [(ngModel)]="emailDigitado">
                </mat-form-field>
            </form>
            <div class="double-width">
                <button type="submit" mat-raised-button class="button-reset" (click)="resetPassword(emailDigitado)">Enviar</button>
                <a routerLink="/signin"><span class="aLink">Voltar para tela de login</span></a>
            </div>
        </div>
    </div>
</div>