*{
    box-sizing: border-box;
}
mat-toolbar {
    height: 80px;
    background-color: #0f637a;

}
mat-drawer-container {
    width: 100%;
}

.main{
    width: clamp(400px, 90%, 1400px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}
.container {
    width: 680px;
    height: 250px;
    padding: 18px;
    margin: auto;
    border-radius: 9px;
}

h2{
    font-size: 1.5rem;
    color: #0f637a;
    
}

.full-width{
    width: 100%;
}

p{
    font-size:16px;
}
.button-reset{
    background-color: #0f637a;
    width: 90px;
    color: white;
}
.button-reset:hover{
    background-color: #3193ae
}
.double-width{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

a{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #0f637a;
    font-size: 13px;
    font-weight: 500;

}

a:hover{
    color: #3193ae;
}