<div class="title-button">
    <h2 mat-dialog-title>Interação do chamado {{chamado.idSimples}}</h2>
    <button mat-icon-button mat-dialog-close>
        <i class="material-icons">close</i>
    </button>
</div>

<mat-dialog-content class="mat-typography">

    <div>
        <h3><strong>Assunto do chamado: </strong> {{chamado.assunto}}</h3>
    </div>

    <div *ngIf="!disableInteraction(chamado)">
        <form class="form-container" [formGroup]="formNovaMensagem">
            <div>
                <button class="arquivo" mat-raised-button color="primary" id="files" type="file" onclick="document.getElementById('getFile').click()"><mat-icon> attach_file</mat-icon></button>
                    <input type='file'  (change)="uploadArquivo($event)" (change)="anexado($event)" id="getFile" style="display:none">
                    <ul *ngFor="let anexo of anexos">
                        <li><a href="{{anexo}}" target="_blank">Upload</a></li>
                    </ul>
                </div>
            <mat-form-field  appearance="outline" class="full-width">
                <mat-label>Mensagem</mat-label>
                <input matInput formControlName="mensagem">
            </mat-form-field>
            <button class="enviar" type="submit" mat-raised-button color="primary" [disabled]="isLoadUpload" (click)="enviarMensagem()"><mat-icon>send</mat-icon></button>
        </form>
        <mat-progress-bar *ngIf="isLoadUpload" mode="indeterminate"></mat-progress-bar>
        <p *ngIf="showName">{{nomeArquivo + "  Arquivo anexado, clique no botão de enviar"}}</p>
    </div>

    <div>
        <mat-card class="example-card relative" *ngFor="let card of chamado.interacao let i = index ">
        <div class="card-header">
            <img [src]="chamado.interacao[i].usuario?.photoURL || '../../../assets/user.png' " class="img-testimony" alt="">
            <div class="information">
                <mat-card-title>{{chamado.interacao[i].usuario?.displayName}}</mat-card-title>
            <mat-card-subtitle>{{verificaDate(chamado.interacao[i].data)  | date:"dd/MM/yy HH:mm:ss"}}</mat-card-subtitle>
            </div>
        </div>
        <mat-card-content>
            <p>{{chamado.interacao[i].mensagem}}</p>
            <ul *ngFor="let arquivo of chamado.interacao[i].arquivo">
                <li><a href="{{arquivo}}" target="_blank">Ver arquivo</a></li>
            </ul>
        </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>
